.mainbanner {
  width: 100%;
  height: 460px;
  position: relative;
  .slider-container{
    width: 100%;
    height: 100%;
    .visualList{
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
      .visual01 { background-image: url('../img/main/main-b01.jpg'); }
      .visual02 { background-image: url('../img/main/main-b02.jpg'); }
      .visual03 { background-image: url('../img/main/main-b03.jpg'); }
      .visual04 { background-image: url('../img/main/main-b04.jpg'); }
    }
  }
  .swiper-button-next:after, .swiper-button-prev:after {
      content: '';
  }
  .swiper-button-next{
    margin-right: 150px;
    img{
      transform: rotate(180deg);
    }
  }
  .swiper-button-prev{
    margin-left: 150px;
  }
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 45%;
    left: -30%;
  }
  .swiper-pagination-bullet{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #fff;
    color: #fff
  }
  .swiper-pagination-bullet-active{
    background-color: transparent;
  }
  .inner-banner{
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../img/main/ds_people_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    // background-size: cover;
    z-index: 9;
    .inner-img {
      position: absolute;
      bottom: 0;
      left:500px;
      width: 244px;
      height: 135px;
      background-image: url('../img/main/ds_people.png');
      background-repeat: no-repeat;
    }
  }
}
.container{
  width: 100%;
  height: auto;
  .inner-content{
    width: $siteWidth;
    height: 310px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    .board{
      width: 50%;
      height: 100%;
    }
    .intro-gunsu {
      width: 25%;
      height: 100%;
      position: relative;
      border-left: 1px solid #e2e2e2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h3{
        margin-top: 30px;
      }
      a{
        position: absolute;
        width: 160px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 40px;
        bottom: 30px;
        left: calc( 50% - 80px );
        background: #fff;
      }
    }
    .mini-banner{
      width: 25%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid #e2e2e2;
      .mb-list{
        width: 264px;
        height: 237px;
        .inner-a, .inner-b{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-grow: 0;
          width: 100%;
          height: 50%;
          .list{
            width: 50%;
            height: 100%;
          }
        }
        .inner-a{
          .list:first-child{
            color: #fff;
            background: #1d74c5;
            p{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
            }
            p:before{
              display: block;
              content: '';
              width: 56px;
              height: 56px;
              background: url('../img/content/ico_buso.png') no-repeat;
              margin: 0px auto 10px;
              transition: 0.3s;
            }
            &:hover{
              p:before {
                transform: rotateY(180deg);
              }
            }
          }
          .list:last-child{
            color: #333;
            background: #fff;
            p{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
            }
            p:before{
              display: block;
              content: '';
              width: 56px;
              height: 56px;
              background: url('../img/content/ico_buso.png') no-repeat;
              margin: 0px auto 10px;
              background-position: -56px 0;
              transition: 0.3s;
            }
            &:hover{
              p:before {
                transform: rotateY(180deg);
              }
            }
          }
        }
        .inner-b{
          .list:first-child{
            color: #333;
            background: #e6e6e1;
            p{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
            }
            p:before{
              display: block;
              content: '';
              width: 56px;
              height: 56px;
              background: url('../img/content/ico_buso.png') no-repeat;
              margin: 0px auto 10px;
              background-position: -112px 0;
              transition: 0.3s;
            }
            &:hover{
              p:before {
                transform: rotateY(180deg);
              }
            }
          }
          .list:last-child{
            color: #fff;
            background: #5e90a8;
            p{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
            }
            p:before{
              display: block;
              content: '';
              width: 56px;
              height: 56px;
              background: url('../img/content/ico_buso.png') no-repeat;
              margin: 0px auto 10px;
              background-position: -168px 0;
              transition: 0.3s;
            }
            &:hover{
              p:before {
                transform: rotateY(180deg);
              }
            }
          }
        }
      }
    }
  }
}
