//변수 처리
//#0c4da2
//#2f67b0
// site width
$siteWidth: 1320px;

// text size
$fontSizetiny : 12px;
$fontSizeSmall : 14px;
$fontSizeNomal : 16px;
$fontSizeMid : 18px;
$fonSizeBig : 21px;

//title text size
$titleFontSizeSmall : 21px;
$titleFontSizeNomal : 24px;
$titleFontSizeMid : 26px;
$titleFontSizeBig : 32px;

//색상정의
// background color
$layoutBg: #fff;

//font color
$fontColorBasic : #666666;
$fontColorPrimary : #0c4da2;
$fontColorHover : #2f67b0;
$fontColorPrimary2 : #e31f26;

//border color
$boderColorPrimary : #0c4da2;
$borderColor1 : #2f67b0;
//button color
$gbtnColor : #0c4da2;
$gbtnColorHover : #2f67b0;
