html, body {
  height: 100%; }

html, body, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #333333; }

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer; }

.mini-header {
  width: 100%;
  height: 37px;
  background: #585858; }
  .mini-header .inner-header {
    width: 1260px;
    height: 100%;
    margin: 0 auto; }
    .mini-header .inner-header ul.inner-ul {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .mini-header .inner-header ul.inner-ul li {
        width: 127px;
        height: 100%; }
        .mini-header .inner-header ul.inner-ul li:nth-child(1) {
          background-color: #fff; }
          .mini-header .inner-header ul.inner-ul li:nth-child(1) span {
            color: #222222; }
        .mini-header .inner-header ul.inner-ul li:nth-child(2) {
          background-color: #0593b1; }
          .mini-header .inner-header ul.inner-ul li:nth-child(2) a:before {
            content: '';
            display: inline-block;
            width: 25px;
            height: 25px;
            margin: -3px 5px 0 0;
            background: url("../img/header/ico_top_nav.png") no-repeat;
            vertical-align: middle;
            background-position: 0 0; }
        .mini-header .inner-header ul.inner-ul li:nth-child(3) {
          background-color: #3aa46c; }
          .mini-header .inner-header ul.inner-ul li:nth-child(3) a:before {
            content: '';
            display: inline-block;
            width: 25px;
            height: 25px;
            margin: -3px 5px 0 0;
            background: url("../img/header/ico_top_nav.png") no-repeat;
            vertical-align: middle;
            background-position: -25px 0; }
        .mini-header .inner-header ul.inner-ul li:nth-child(4) {
          background-color: #d27f3d;
          position: relative; }
          .mini-header .inner-header ul.inner-ul li:nth-child(4) a span {
            margin-right: 12px; }
          .mini-header .inner-header ul.inner-ul li:nth-child(4) a span:after {
            content: '';
            position: absolute;
            top: 0;
            right: 4px;
            bottom: 0;
            width: 0;
            height: 0;
            margin: auto;
            border: 4px solid transparent;
            border-width: 4px 4px 0;
            border-top-color: #fff;
            transition: all .25s; }
          .mini-header .inner-header ul.inner-ul li:nth-child(4) a:before {
            content: '';
            display: inline-block;
            width: 25px;
            height: 25px;
            margin: -3px 5px 0 0;
            background: url("../img/header/ico_top_nav.png") no-repeat;
            vertical-align: middle;
            background-position: -50px 0; }
          .mini-header .inner-header ul.inner-ul li:nth-child(4) .page-list {
            height: 270px;
            flex-direction: column;
            display: none;
            overflow: hidden; }
            .mini-header .inner-header ul.inner-ul li:nth-child(4) .page-list li {
              width: 100%;
              height: 30px;
              background-color: #787878; }
              .mini-header .inner-header ul.inner-ul li:nth-child(4) .page-list li a {
                width: 100%;
                line-height: 30px;
                font-size: 14px;
                color: #fff; }
                .mini-header .inner-header ul.inner-ul li:nth-child(4) .page-list li a:before {
                  display: none; }
        .mini-header .inner-header ul.inner-ul li:nth-child(5) {
          background-color: #d23d57; }
          .mini-header .inner-header ul.inner-ul li:nth-child(5) a:before {
            content: '';
            display: inline-block;
            width: 25px;
            height: 25px;
            margin: -3px 5px 0 0;
            background: url("../img/header/ico_top_nav.png") no-repeat;
            vertical-align: middle;
            background-position: -75px 0; }
        .mini-header .inner-header ul.inner-ul li:nth-child(6) {
          background-color: #6b3d99; }
          .mini-header .inner-header ul.inner-ul li:nth-child(6) a:before {
            content: '';
            display: inline-block;
            width: 25px;
            height: 25px;
            margin: -3px 5px 0 0;
            background: url("../img/header/ico_top_nav.png") no-repeat;
            vertical-align: middle;
            background-position: -140px 0; }
        .mini-header .inner-header ul.inner-ul li:nth-child(7) {
          background-color: #055eb1; }
          .mini-header .inner-header ul.inner-ul li:nth-child(7) a:before {
            content: '';
            display: inline-block;
            width: 25px;
            height: 25px;
            margin: -3px 5px 0 0;
            background: url("../img/header/ico_top_nav.png") no-repeat;
            vertical-align: middle;
            background-position: -170px 0; }
        .mini-header .inner-header ul.inner-ul li:nth-child(8) {
          background-color: #585858; }
          .mini-header .inner-header ul.inner-ul li:nth-child(8) a.cuntry {
            background: url("../img/header/ico_flag.png") no-repeat 0 50%;
            font-size: 14px;
            color: #fff;
            margin-left: 10px; }
        .mini-header .inner-header ul.inner-ul li:last-child {
          background-color: #787878;
          position: relative; }
          .mini-header .inner-header ul.inner-ul li:last-child a span:after {
            content: '';
            position: absolute;
            top: 0;
            right: 12px;
            bottom: 0;
            width: 0;
            height: 0;
            margin: auto;
            border: 4px solid transparent;
            border-width: 4px 4px 0;
            border-top-color: #d7d7d7;
            transition: all .25s; }
          .mini-header .inner-header ul.inner-ul li:last-child .lnag-list {
            height: 120px;
            flex-direction: column;
            display: none;
            overflow: hidden; }
            .mini-header .inner-header ul.inner-ul li:last-child .lnag-list li {
              width: 100%;
              height: 30px;
              background-color: #787878; }
              .mini-header .inner-header ul.inner-ul li:last-child .lnag-list li a {
                width: 100%;
                font-size: 14px;
                color: #fff; }
                .mini-header .inner-header ul.inner-ul li:last-child .lnag-list li a:before {
                  display: none; }
        .mini-header .inner-header ul.inner-ul li.h-btn {
          width: 41px;
          height: 100%;
          background: #363636; }
        .mini-header .inner-header ul.inner-ul li a {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .mini-header .inner-header ul.inner-ul li a span {
            color: #fff;
            font-size: 14px; }

.logo-header {
  width: 100%;
  height: 106px;
  border-bottom: 1px solid #e2e2e2; }
  .logo-header .inner-logo-header {
    width: 1260px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .logo-header .inner-logo-header .logo {
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .logo-header .inner-logo-header .logo img:first-child {
        width: 185px; }
      .logo-header .inner-logo-header .logo img:last-child {
        width: 92px; }
    .logo-header .inner-logo-header .search {
      width: 486px;
      height: 44px;
      border: 3px solid #1d74c5;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center; }
      .logo-header .inner-logo-header .search .search-item {
        width: 100px;
        height: 100%;
        border: none; }
      .logo-header .inner-logo-header .search input {
        width: calc(100% - 158px);
        height: calc(100% - 6px);
        background: #fff;
        border: none; }
      .logo-header .inner-logo-header .search .search-btn {
        width: 58px;
        height: 100%;
        background-color: #1d74c5;
        background-image: url("../img/header/ico_srch_header.png");
        background-position: center;
        background-repeat: no-repeat; }
    .logo-header .inner-logo-header .weather {
      width: 360px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .logo-header .inner-logo-header .weather .inner-a {
        width: 50%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; }
        .logo-header .inner-logo-header .weather .inner-a img {
          display: inline-block;
          width: 42px;
          height: 42px; }
        .logo-header .inner-logo-header .weather .inner-a P {
          font-size: 20px; }
          .logo-header .inner-logo-header .weather .inner-a P span {
            color: #f15da5;
            font-weight: 600; }
      .logo-header .inner-logo-header .weather .inner-b {
        width: 50%;
        height: 50px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .logo-header .inner-logo-header .weather .inner-b dl {
          display: flex; }
          .logo-header .inner-logo-header .weather .inner-b dl dd span {
            background-color: #009ebf;
            color: #fff; }

.gnb {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e2e2e2; }
  .gnb .inner-gnb {
    width: 1260px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2; }
    .gnb .inner-gnb ul {
      display: flex;
      justify-content: center;
      align-items: center; }
      .gnb .inner-gnb ul li {
        width: 236px;
        height: 50px;
        color: #333333;
        font-size: 19px;
        font-weight: bold;
        position: relative; }
        .gnb .inner-gnb ul li a {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          line-height: 50px;
          text-align: center; }
          .gnb .inner-gnb ul li a.active:after {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            bottom: 5px;
            right: 0;
            width: 0;
            height: 0;
            margin: 0 auto;
            border: 4px solid transparent;
            border-width: 7px 4px 0;
            border-top-color: #0266b2; }
    .gnb .inner-gnb .nav-manu {
      width: 100%;
      height: 100%;
      background-image: url("../img/header/ico_sitemap.png");
      background-repeat: no-repeat;
      background-position: center; }

.sub-gnb {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 200px;
  right: 0;
  background-color: #fff;
  z-index: 15;
  border-bottom: 1px solid #e2e2e2; }
  .sub-gnb .menu {
    width: 100%;
    height: 100%;
    display: none;
    background-color: #fff; }
    .sub-gnb .menu.active {
      display: block; }
    .sub-gnb .menu .inner-sub-menu {
      width: 1260px;
      height: 100%;
      margin: 0 auto;
      border-left: 1px solid #e2e2e2;
      border-right: 1px solid #e2e2e2; }
      .sub-gnb .menu .inner-sub-menu .sub-sub-menu {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        padding: 10px; }
        .sub-gnb .menu .inner-sub-menu .sub-sub-menu .sub-menu-list {
          margin: 0 3px 10px; }
          .sub-gnb .menu .inner-sub-menu .sub-sub-menu .sub-menu-list .sub-main-menu {
            display: block;
            width: 180px;
            height: 35px;
            text-align: left;
            padding-left: 20px;
            line-height: 35px;
            background: #ebebeb;
            color: #2569a8;
            font-weight: 600;
            font-size: 16px; }
          .sub-gnb .menu .inner-sub-menu .sub-sub-menu .sub-menu-list ul {
            margin-top: 10px; }
            .sub-gnb .menu .inner-sub-menu .sub-sub-menu .sub-menu-list ul li {
              position: relative; }
              .sub-gnb .menu .inner-sub-menu .sub-sub-menu .sub-menu-list ul li a {
                font-size: 15px;
                color: #333;
                padding-left: 15px; }
                .sub-gnb .menu .inner-sub-menu .sub-sub-menu .sub-menu-list ul li a:after {
                  content: '';
                  display: inline-block;
                  position: absolute;
                  top: 8px;
                  left: 5px;
                  width: 3px;
                  height: 3px;
                  background: #242424; }

.mainbanner {
  width: 100%;
  height: 460px;
  position: relative; }
  .mainbanner .slider-container {
    width: 100%;
    height: 100%; }
    .mainbanner .slider-container .visualList {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1; }
      .mainbanner .slider-container .visualList .visual01 {
        background-image: url("../img/main/main-b01.jpg"); }
      .mainbanner .slider-container .visualList .visual02 {
        background-image: url("../img/main/main-b02.jpg"); }
      .mainbanner .slider-container .visualList .visual03 {
        background-image: url("../img/main/main-b03.jpg"); }
      .mainbanner .slider-container .visualList .visual04 {
        background-image: url("../img/main/main-b04.jpg"); }
  .mainbanner .swiper-button-next:after, .mainbanner .swiper-button-prev:after {
    content: ''; }
  .mainbanner .swiper-button-next {
    margin-right: 150px; }
    .mainbanner .swiper-button-next img {
      transform: rotate(180deg); }
  .mainbanner .swiper-button-prev {
    margin-left: 150px; }
  .mainbanner .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 45%;
    left: -30%; }
  .mainbanner .swiper-pagination-bullet {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #fff;
    color: #fff; }
  .mainbanner .swiper-pagination-bullet-active {
    background-color: transparent; }
  .mainbanner .inner-banner {
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../img/main/ds_people_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 9; }
    .mainbanner .inner-banner .inner-img {
      position: absolute;
      bottom: 0;
      left: 500px;
      width: 244px;
      height: 135px;
      background-image: url("../img/main/ds_people.png");
      background-repeat: no-repeat; }

.container {
  width: 100%;
  height: auto; }
  .container .inner-content {
    width: 1260px;
    height: 310px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2; }
    .container .inner-content .board {
      width: 50%;
      height: 100%; }
    .container .inner-content .intro-gunsu {
      width: 25%;
      height: 100%;
      position: relative;
      border-left: 1px solid #e2e2e2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .container .inner-content .intro-gunsu h3 {
        margin-top: 30px; }
      .container .inner-content .intro-gunsu a {
        position: absolute;
        width: 160px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 40px;
        bottom: 30px;
        left: calc( 50% - 80px);
        background: #fff; }
    .container .inner-content .mini-banner {
      width: 25%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid #e2e2e2; }
      .container .inner-content .mini-banner .mb-list {
        width: 264px;
        height: 237px; }
        .container .inner-content .mini-banner .mb-list .inner-a, .container .inner-content .mini-banner .mb-list .inner-b {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-grow: 0;
          width: 100%;
          height: 50%; }
          .container .inner-content .mini-banner .mb-list .inner-a .list, .container .inner-content .mini-banner .mb-list .inner-b .list {
            width: 50%;
            height: 100%; }
        .container .inner-content .mini-banner .mb-list .inner-a .list:first-child {
          color: #fff;
          background: #1d74c5; }
          .container .inner-content .mini-banner .mb-list .inner-a .list:first-child p {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; }
          .container .inner-content .mini-banner .mb-list .inner-a .list:first-child p:before {
            display: block;
            content: '';
            width: 56px;
            height: 56px;
            background: url("../img/content/ico_buso.png") no-repeat;
            margin: 0px auto 10px;
            transition: 0.3s; }
          .container .inner-content .mini-banner .mb-list .inner-a .list:first-child:hover p:before {
            transform: rotateY(180deg); }
        .container .inner-content .mini-banner .mb-list .inner-a .list:last-child {
          color: #333;
          background: #fff; }
          .container .inner-content .mini-banner .mb-list .inner-a .list:last-child p {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; }
          .container .inner-content .mini-banner .mb-list .inner-a .list:last-child p:before {
            display: block;
            content: '';
            width: 56px;
            height: 56px;
            background: url("../img/content/ico_buso.png") no-repeat;
            margin: 0px auto 10px;
            background-position: -56px 0;
            transition: 0.3s; }
          .container .inner-content .mini-banner .mb-list .inner-a .list:last-child:hover p:before {
            transform: rotateY(180deg); }
        .container .inner-content .mini-banner .mb-list .inner-b .list:first-child {
          color: #333;
          background: #e6e6e1; }
          .container .inner-content .mini-banner .mb-list .inner-b .list:first-child p {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; }
          .container .inner-content .mini-banner .mb-list .inner-b .list:first-child p:before {
            display: block;
            content: '';
            width: 56px;
            height: 56px;
            background: url("../img/content/ico_buso.png") no-repeat;
            margin: 0px auto 10px;
            background-position: -112px 0;
            transition: 0.3s; }
          .container .inner-content .mini-banner .mb-list .inner-b .list:first-child:hover p:before {
            transform: rotateY(180deg); }
        .container .inner-content .mini-banner .mb-list .inner-b .list:last-child {
          color: #fff;
          background: #5e90a8; }
          .container .inner-content .mini-banner .mb-list .inner-b .list:last-child p {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; }
          .container .inner-content .mini-banner .mb-list .inner-b .list:last-child p:before {
            display: block;
            content: '';
            width: 56px;
            height: 56px;
            background: url("../img/content/ico_buso.png") no-repeat;
            margin: 0px auto 10px;
            background-position: -168px 0;
            transition: 0.3s; }
          .container .inner-content .mini-banner .mb-list .inner-b .list:last-child:hover p:before {
            transform: rotateY(180deg); }
